node_modules/
/uploads/
/config.conf.bak
/docker/config
/docker/user
/docker/extensions
/docker/data
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
content.log
cloudflared.exe
public/assets/
access.log
/vectors/
/cache/
public/css/user.css
/plugins/
/default/scaffold
public/scripts/extensions/third-party
data/*
!data/default-user/chats/
!data/default-user/themes/
!data/default-user/thumbnails/
!data/default-user/worlds/
!data/default-user/QuickReplies/
!data/default-user/backgrounds/
!data/default-user/characters/
