node_modules/
/uploads/
/config.conf.bak
/docker/config
/docker/user
/docker/extensions
/docker/data
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
content.log
cloudflared.exe
public/assets/
access.log
/vectors/
/cache/
public/css/user.css
public/error/
/plugins/
/default/scaffold
public/scripts/extensions/third-party
data/*
!data/default-user/
data/default-user/backups
data/default-user/chats
data/default-user/group chats
data/default-user/sysprompt
data/default-user/sysprompt
/certs
.aider*
.env
/StartDev.bat

